@import "tailwindcss";

@layer utilities {
  .no-scrollbar {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

@font-face {
  font-family: "VAG Rounded";
  src: url("./assets/vag-rounded/VAG-Rounded-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
